*{
    padding: 4%;
    box-sizing: border-box;
    margin: 0%;
}
#main{
    background-color: #f73e8d;
    max-width: 100%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-us{
    background-color: rgb(86, 79, 79);
    width: 60%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 60px #57243a;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
} 

.us{
    padding-top: 2px;
    color: #f73e8d;
    text-decoration: underline 3px;
}

h3{
    padding-top: 2px;
    color: #f73e8d;
}

input{
    background-color: rgb(86, 79, 79);
    width: 300px;
}

.box{
    height: 60px;
}
button{
    background-color: rgb(86, 79, 79);
    color: #f73e8d;
}
.btn{
    display: flex;
    justify-content: flex-end;
}